
//-----------------------------------------
//---------------h2 STYLING----------------
//-----------------------------------------

h2 {
    padding: 2rem 4rem;
    font-size: 2.5rem;
}


//-----------------------------------------
//----------------HEADER-------------------
//-----------------------------------------


h1 {
    font-size: 3rem;
    text-align: center;
}

nav {
    width: 30vw;
}

nav.show-menu {
    margin-left: 70%;
}


//-----------------------------------------
//----------------LANDING------------------
//-----------------------------------------

.landing {

    .img-background {
        height: 23.16rem;
        width: 20.88rem;
        border-radius: 3rem;
    }

    img {
        height: 22.5rem;
        width: 20.25rem ;
        border-radius: 3rem;
        margin-top: 5.1rem;
    }
}


//-----------------------------------------
//----------------ABOUT ME-----------------
//-----------------------------------------

.about-me {
    div {
        width: 40%;
        font-size: 1.5rem;
    }
}



//-----------------------------------------
//------------------SKILLS-----------------
//-----------------------------------------

.skills {

    div {
        margin: auto;
        width: 15%;
        font-size: 2rem;
        
    }

    .skills1 {
        left: -10%;
    }

    .skills2 {
        right: -10%;
    }

    ul {
        line-height: 3rem;
    }
}